
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="router1.php?action=accueil">David Bounliane / Amr Roqdi</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Famille <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router1.php?action=familleReadAll">Liste des familles</a></li>
          <li><a href="router1.php?action=familleCreate">Ajout d'une famille</a></li>
          <li><a href="router1.php?action=familleSelect">Sélection d'une famille</a></li>                       
        </ul>
      </li>   
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle ="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Evènement<span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="router1.php?action=evenementReadAll">Liste des évènements</a></li>
          <li><a href="router1.php?action=evenementCreate">Ajout d'un élément</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Lien<span class="caret"></span></a>
        <ul class="dropdown-menu">            
          <li><a href="TODO">Liste des liens</a></li>
          <li><a href="TODO">Ajout d'un lien parent</a></li>
          <li><a href="TODO">Ajout d'un lien d'union</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">individu<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="TODO">Liste des individus</a></li>
          <li><a href="TODO">Ajout d'un individu</a></li>
          <li><a href="TODO">Page d'un individu</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

